:root {
    --button-color: #5C7457;
    --button-color-hard: #214E34;

    --nav-color: #5C7457;
    --nav-color-hard: #214E34;

    --button-back-color: #dcdcdc;
    --button-font-color: #0D0A0B;

    --base-color: #979B8D;
    --base-color-soft: #c1bcac;

    --details-color: #EFD0CA;
}
